<header>
  <div id="app-name">
    <h1>
      <a href="/"><span class="material-icons"> app_registration </span></a>
      <a href="/"><p>Cervantes</p></a>
    </h1>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/" class="link"><span class="material-icons"> home </span> </a>
      </li>
    </ul>
  </nav>
</header>
