<header>
  <div id="app-name">
    <h1><span>[LOGO]</span> Cervantes</h1>
  </div>
  <nav>
    <ul>
      <li><a href="./about" class="link">About</a></li>
      <li><a href="./instructions" class="link">?</a></li>
    </ul>
  </nav>
</header>
