<%- include('partials/head') %> <%- include('partials/header') %>

<div id="home" class="page">
  <h4>Analiza tus textos en segundos</h4>
  <div id="homeMenu">
    <a class="navigationBtn" href="/analisys/file">
      <span class="material-icons"> description </span>
      <p>Analizar desde archivo</p>
    </a>
    <a class="navigationBtn" href="/analisys/text">
      <span class="material-icons"> content_copy </span>
      <p>Analizar desde copiado</p>
    </a>
  </div>
</div>
<%- include('partials/footer') %>
