<%- include('partials/head') %> <%- include('partials/header') %>

<div id="notFound" class="page">
  <h2>404</h2>

  <p>Ups! El recurso que buscas no esta siponible.</p>
  <br />
  <a href="/">Volver</a>
</div>
<%- include('partials/footer') %>
