.resultHeader {
  background-color: $secundaryColor;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  color: $whiteText;
}
#repetitionsPanel,
#longSentencesPannel,
#lowVariationPanel {
  max-height: 20rem;
  width: 90%;
  max-width: 45rem;
  overflow: auto;
  //style the scroll bars
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primaryColor;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primaryColor;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
    .word {
      cursor: pointer;
    }
    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 6px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  }
}
