$primaryColor: #009933;
$secundaryColor: #00cc44;
$hilightedText: #00ff55;
$backgroundColor: #e6ffee;
$whiteText: #ffffff;
$textShadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$darlBackgorund: #001a09;
