@import "variables";
@import "header";
@import "home";
@import "modal";
@import "fileForm";
@import "textForm";
@import "analisys";
@import "notfound";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 85vh;
}

.navigationBtn {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  padding: 0.8rem;
  background-color: $secundaryColor;
  color: $whiteText;
  width: 100%;
  max-width: 20rem;
  border-radius: 5px;
  font-weight: 600;
  &:hover {
    color: $hilightedText;
  }
}
