header {
  width: 100%;
  padding: 0.5rem;
  background-color: #00cc44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

header #app-name {
  color: #ffffff;
  cursor: pointer;
  font-size: 0.9rem;
}

header #app-name h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header #app-name h1 a {
  color: #ffffff;
}

header #app-name h1 :link {
  text-decoration: none;
}

header #app-name h1 .material-icons {
  font-size: 2.2rem;
}

header nav {
  max-width: 25%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav a {
  color: #ffffff;
}

header nav a:hover {
  color: #00cc44;
}

header nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  font-weight: 600;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

header nav ul li :link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 380px) {
  header {
    font-size: 0.5rem;
  }
}

#home h4 {
  color: #009933;
}

#home #homeMenu {
  width: 100%;
  padding: 1rem;
}

#home #homeMenu .navigationBtn {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12rem;
  max-width: 20rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#home #homeMenu .navigationBtn p {
  font-size: 1.4rem;
}

#home #homeMenu .navigationBtn .material-icons {
  font-size: 3rem;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#file-form {
  margin: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#file-form input[type="file"] {
  display: none;
}

#file-form input[type="submit"] {
  visibility: hidden;
  opacity: 0;
  background-color: #00cc44;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-transition-property: background-color, color, display, opacity;
  transition-property: background-color, color, display, opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#file-form input[type="submit"]:hover {
  background-color: #e6ffee;
  color: #009933;
}

#file-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  color: #ffffff;
  background-color: red;
  border-radius: 5px;
  font-weight: 500;
  width: 14rem;
  height: 7rem;
  padding: 0.9rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-transition-property: background-color, height, width;
  transition-property: background-color, height, width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#file-form label #input-message {
  display: block;
  height: 1em;
  text-overflow: ellipsis;
  overflow-y: hidden;
}

#file-form label .material-icons {
  font-size: 3rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  margin-bottom: 0.5rem;
}

#file-form label #input-icon,
#file-form label #input-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#file-form label .loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #009933;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  display: block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#textForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#textForm #input-area__form {
  width: 90%;
  max-width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

#textForm #input-area__form #input-area__text-box {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 16px;
  padding: 0.5rem;
  max-height: 25rem;
  overflow: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

#textForm #input-area__form #input-area__text-box::-webkit-scrollbar {
  width: 5px;
}

#textForm #input-area__form #input-area__text-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#textForm #input-area__form #input-area__text-box::-webkit-scrollbar-thumb {
  background: #009933;
}

#textForm #input-area__form #input-area__text-box::-webkit-scrollbar-thumb:hover {
  background: #009933;
}

#textForm #input-area__form #analizar {
  border: none;
}

.resultHeader {
  background-color: #00cc44;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  color: #ffffff;
}

#repetitionsPanel,
#longSentencesPannel,
#lowVariationPanel {
  max-height: 20rem;
  width: 90%;
  max-width: 45rem;
  overflow: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

#repetitionsPanel::-webkit-scrollbar,
#longSentencesPannel::-webkit-scrollbar,
#lowVariationPanel::-webkit-scrollbar {
  width: 5px;
}

#repetitionsPanel::-webkit-scrollbar-track,
#longSentencesPannel::-webkit-scrollbar-track,
#lowVariationPanel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#repetitionsPanel::-webkit-scrollbar-thumb,
#longSentencesPannel::-webkit-scrollbar-thumb,
#lowVariationPanel::-webkit-scrollbar-thumb {
  background: #009933;
}

#repetitionsPanel::-webkit-scrollbar-thumb:hover,
#longSentencesPannel::-webkit-scrollbar-thumb:hover,
#lowVariationPanel::-webkit-scrollbar-thumb:hover {
  background: #009933;
}

#repetitionsPanel table,
#longSentencesPannel table,
#lowVariationPanel table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
}

#repetitionsPanel table .word,
#longSentencesPannel table .word,
#lowVariationPanel table .word {
  cursor: pointer;
}

#repetitionsPanel table td,
#repetitionsPanel table th,
#longSentencesPannel table td,
#longSentencesPannel table th,
#lowVariationPanel table td,
#lowVariationPanel table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
}

#repetitionsPanel table tr:nth-child(even),
#longSentencesPannel table tr:nth-child(even),
#lowVariationPanel table tr:nth-child(even) {
  background-color: #dddddd;
}

#notFound {
  color: #00cc44;
}

footer {
  width: 100%;
  height: 10rem;
  color: #ffffff;
  background-color: #009933;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 85vh;
}

.navigationBtn {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  padding: 0.8rem;
  background-color: #00cc44;
  color: #ffffff;
  width: 100%;
  max-width: 20rem;
  border-radius: 5px;
  font-weight: 600;
}

.navigationBtn:hover {
  color: #00ff55;
}
/*# sourceMappingURL=main.css.map */